
/** Icons **/
i.pg:before{
    display: block;
    content: ' ';

    background-repeat: no-repeat;
    background-position: center;
    height: 65px;
    width: 130px;

    border-radius: 22px;
    margin: 0 auto;
margin-bottom: 20px;
    background-size: contain;


}

i.pg-all-brands:before{
    background-image: url('../img/icons/pg-all-brands.svg');
}
i.pg-free-support:before{
    background-image: url('../img/icons/pg-free-support.svg');
}
i.pg-dealership:before{
    background-image: url('../img/icons/pg-dealership.svg');
}
i.pg-affordable:before{
    background-image: url('../img/icons/pg-affordable.svg');
}


i.pg-vehicles-in-stock:before{
    background-image: url('../img/icons/pg-vehicles-in-stock.svg');
}
i.pg-dealer-reviews:before{
    background-image: url('../img/icons/pg-dealer-reviews.svg');
}
i.pg-happy-customers:before{
    background-image: url('../img/icons/pg-happy-customers.svg');
}
i.pg-awards:before{
    background-image: url('../img/icons/pg-awards.svg');
}



